<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.markfredchen.persistence.mybatis.plus.persistence.CompanyMapper">
    <select id="searchCompany" resultType="tech.markfredchen.persistence.mybatis.plus.entity.Company">
        SELECT * FROM mp_company WHERE company_name like '${keyword}%'
    </select>
</mapper>